# deps & builds
node_modules
dist
dist-electron
release
*.log

# pnpm store temp
.pnpm-store

# os
.DS_Store
Thumbs.db

# Tauri/Rust 构建产物
apps/desktop-rs/src-tauri/target/
apps/desktop-rs/dist/
apps/desktop-rs/node_modules

# 安装器 / 二进制
rustup-init.exe
*.exe
